<div class="login-wrapper">
  <div class="container">
    <img
      class="img-fluid logo-dark mb-2"
      src="assets/img/logo2.png"
      alt="Logo"
    />
    <img
      class="img-fluid logo-light mb-2"
      src="assets/img/logo2-white.png"
      alt="Logo"
    />
    <div class="loginbox">
      <div class="login-right">
        <div class="login-right-wrap">
          <h1>Inscription</h1>
          <p class="account-subtitle">Accedez au Tableau de bord</p>
          <!--
          <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
            <p *ngFor="let msg of errorMsg">{{ msg }}</p>
          </div>
          -->
          <form #f="ngForm" (submit)="register()">
            <div class="input-block mb-3">
              <label class="form-control-label">Nom</label>
              <input
                [(ngModel)]="registerRequest.lastName"
                name="registerRequest.lastname"
                class="form-control"
                type="text"
                id="validationCustom03"
              />
              <div class="invalid-feedback">
                veuillez entrer une valeur valide
              </div>
            </div>
            <div class="input-block mb-3">
              <label class="form-control-label">Prenom(s)</label>
              <input
                [(ngModel)]="registerRequest.firstName"
                name="registerRequest.firstname"
                class="form-control"
                type="text"
                id="validationCustom03"
              />
              <div class="invalid-feedback">
                veuillez entrer une valeur valide
              </div>
            </div>
            <div class="input-block mb-3">
              <label class="form-control-label">Email </label>
              <input
                [(ngModel)]="registerRequest.email"
                name="registerRequest.email"
                class="form-control"
                type="email"
                id="validationCustom03"
              />
              <div class="invalid-feedback">
                veuillez entrer une valeur valide
              </div>
            </div>
            <div class="input-block mb-3">
              <label class="form-control-label">Password</label>
              <input
                [(ngModel)]="registerRequest.password"
                name="registerRequest.password"
                class="form-control"
                type="password"
                id="validationCustom03"
              />
              <div class="invalid-feedback">
                veuillez entrer une valeur valide
              </div>
            </div>
            <div class="input-block mb-3">
              <label class="form-control-label">Confirm Password</label>
              <input class="form-control" type="password" />
            </div>
            <div class="input-block mb-3">
              <label class="form-control-label">telephone</label>
              <input
                [(ngModel)]="registerRequest.telephone"
                name="registerRequest.telephone"
                class="form-control"
                type="text"
                id="validationCustom03"
              />
              <div class="invalid-feedback">
                veuillez entrer une valeur valide
              </div>
            </div>
            <div class="mb-3">
              <select
                class="form-select"
                required=""
                aria-label="select example"
                name="registerRequest.role"
                [(ngModel)]="registerRequest.role"
              >
                <option value="">choisissez une option</option>
                <option value="administrateur">Administrateur</option>
                <option value="comptable">Comptable</option>
                <option value="client">Client</option>
              </select>
              <div class="invalid-feedback">veuillez choisir une option</div>
            </div>

            <div class="input-block mb-0">
              <button class="btn btn-lg btn-primary w-100" type="submit">
                Inscription
              </button>
            </div>
          </form>

          <div class="login-or">
            <span class="or-line"></span>
            <span class="span-or">ou</span>
          </div>

          <div class="social-login">
            <span>Inscription par </span>
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a
            ><a href="#" class="google"><i class="fab fa-google"></i></a>
          </div>

          <div class="text-center dont-have">
            Vous avez déjà un compte? <a routerLink="/auth/login">Connexion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
