<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="content-page-header">
        <h5>Tableau de Bord</h5>
      </div>
    </div>

    <div class="super-admin-dashboard">
      <div class="row">
        <div class="col-xl-5 d-flex">
          <div class="dash-user-card w-100">
            <h4><i class="fe fe-sun"></i>Bienvenue, John</h4>
            
            <div class="dash-btns">
              <a href="companies.html" class="btn view-company-btn"
                >Voir les factures</a
              >
              <a href="packages.html" class="btn view-package-btn"
                >Voir les comptes</a
              >
            </div>
            <div class="dash-img">
              <img src="assets/img/dashboard-card-img.png" alt="" />
            </div>
          </div>
        </div>
        <div class="col-xl-7 d-flex p-0">
          <div class="row dash-company-row w-100 m-0">
            <div class="col-lg-3 col-sm-6 d-flex">
              <div class="company-detail-card w-100">
                <div class="company-icon">
                  <img src="assets/img/icons/dash-card-icon-01.svg" alt="" />
                </div>
                <div class="dash-comapny-info">
                  <h6>Total Montant</h6>
                  <h5>987</h5>
                  <p>
                    <span>14% <i class="fe fe-chevrons-up"></i></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex">
              <div class="company-detail-card bg-info-light w-100">
                <div class="company-icon">
                  <img src="assets/img/icons/dash-card-icon-02.svg" alt="" />
                </div>
                <div class="dash-comapny-info">
                  <h6>Total Utilisateurs</h6>
                  <h5>154</h5>
                  <p>
                    <span>1% <i class="fe fe-chevrons-up"></i></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex">
              <div class="company-detail-card bg-pink-light w-100">
                <div class="company-icon">
                  <img src="assets/img/icons/dash-card-icon-03.svg" alt="" />
                </div>
                <div class="dash-comapny-info">
                  <h6>Activités</h6>
                  <h5>2</h5>
                  <p>
                    <span>2% <i class="fe fe-chevrons-up"></i></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 d-flex">
              <div class="company-detail-card bg-success-light w-100">
                <div class="company-icon">
                  <img src="assets/img/icons/dash-card-icon-04.svg" alt="" />
                </div>
                <div class="dash-comapny-info">
                  <h6>Activités</h6>
                  <h5>6</h5>
                  <p>
                    <span>6% <i class="fe fe-chevrons-up"></i></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
