<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="content-page-header">
        <h5>Utilisateurs</h5>
        <div class="list-btn">
          <ul class="filter-list">
            <li>
              <a
                class="btn btn-filters w-auto popup-toggle"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                data-bs-original-title="Filter"
                ><span class="me-2"
                  ><img
                    src="assets/img/icons/filter-icon.svg"
                    alt="filter" /></span
                >Filtrer
              </a>
            </li>
            <li>
              <a
                class="btn btn-primary"
                href="javascript:void(0);"
                data-bs-toggle="modal"
                data-bs-target="#add_user"
                ><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Ajouter</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-center table-hover datatable">
                <thead class="thead-light">
                  <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Rôle</th>
                    <th>Statut</th>
                    <th></th>
                    <th class="no-sort">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of users">
                    <td>6</td>
                    <td>
                      <h2 class="table-avatar">
                        
                        <a 
                          >{{u.firstName}} {{u.lastName}}
                          <span
                            ><span
                              class="__cf_email__"
                              data-cfemail="8dffece3e9ece1e1cde8f5ece0fde1e8a3eee2e0"
                              >{{u.email}}</span
                            ></span
                          ></a
                        >
                      </h2>
                    </td>
                    <td>{{u.telephone}}</td>
                    <td>{{u.role}}</td>
                    <td>
                      <span *ngIf="!u.accountNonLocked"
                      class="badge bg-ash-gray text-gray-light"
                        >Restreint</span
                      >
                      <span *ngIf="u.accountNonLocked"
                      class="badge bg-success-light">Actif</span>
                    </td>

                    <td>  <!--
                       <div class="status-toggle">
                        <input
                          id="rating_{{u.id}}"
                          class="check"
                          type="checkbox"
                          [checked]="u.accountNonLocked"
                          (click)="confirmActivation(u)"
                        />
                        <label for="rating_{{u.id}}" class="checktoggle checkbox-bg">checkbox</label>
                      </div>-->
                      <a
                      (click)="confirmActivation(u)"
                      id="alert-confirm"
                      class="btn btn-primary waves-effect waves-light"
                      >Désactiver</a
                    >
                    
                    </td>
                    <td class="d-flex align-items-center">
                      <div class="dropdown dropdown-action">
                        <a
                          href="#"
                          class="btn-action-icon"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fas fa-ellipsis-v"></i
                        ></a>
                        <div class="dropdown-menu dropdown-menu-right">
                          <ul>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                                data-bs-toggle="modal"
                                data-bs-target="#edit_user"
                                (click)="getOneUser(u.id!)"
                                ><i class="far fa-eye me-2"></i>voir</a
                              >
                            </li>
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                                data-bs-toggle="modal"
                                data-bs-target="#delete_modal"
                                ><i class="far fa-trash-alt me-2"></i>Delete</a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal custom-modal modal-lg fade" id="add_user" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0">
          <div class="form-header modal-header-title text-start mb-0">
            <h4 class="mb-0">Add User</h4>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form action="#">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <div class="form-groups-item">
                    <h5 class="form-title">Profile Picture</h5>
                    <div class="profile-picture">
                      <div class="upload-profile">
                        <div class="profile-img">
                          <img
                            id="blah"
                            class="avatar"
                            src="assets/img/profiles/avatar-10.jpg"
                            alt="profile-img"
                          />
                        </div>
                        <div class="add-profile">
                          <h5>Upload a New Photo</h5>
                          <span>Profile-pic.jpg</span>
                        </div>
                      </div>
                      <div class="img-upload">
                        <a class="btn btn-primary me-2">Upload</a>
                        <a class="btn btn-remove">Remove</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>First Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter First Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Last Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Last Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>User Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter User Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Email</label>
                          <input
                            type="email"
                            class="form-control"
                            placeholder="Enter Email Address"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Phone Number</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Phone Number"
                            name="name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Role</label>
                          <select class="select">
                            <option>Select Role</option>
                            <option>Role 1</option>
                            <option>Role 2</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pass-group" id="3">
                          <div class="input-block">
                            <label>Password</label>
                            <input
                              type="password"
                              class="form-control pass-input"
                              placeholder=""
                            />
                            <span
                              class="toggle-password feather-eye"
                            ></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pass-group" id="passwordInput2">
                          <div class="input-block">
                            <label>Confirm Password</label>
                            <input
                              type="password"
                              class="form-control pass-input"
                              placeholder=""
                            />
                            <span
                              class="toggle-password feather-eye"
                            ></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block">
                          <label>Status</label>
                          <select class="select">
                            <option>Select Status</option>
                            <option>Active</option>
                            <option>Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-bs-dismiss="modal"
              class="btn btn-back cancel-btn me-2"
            >
              Cancel
            </button>
            <button
              type="submit"
              data-bs-dismiss="modal"
              class="btn btn-primary paid-continue-btn"
            >
              Add User
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div
    class="modal custom-modal modal-lg fade"
    id="edit_user"
    role="dialog"
  >
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0">
          <div class="form-header modal-header-title text-start mb-0">
            <h4 class="mb-0">Détails de l'utilisateur{{user.firstName}} </h4>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form action="#">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <div class="form-groups-item">
                    <h5 class="form-title">Profile Picture</h5>
                    <div class="profile-picture">
                      <div class="upload-profile">
                        <div class="profile-img">
                          <img
                            id="blah2"
                            class="avatar"
                            src="assets/img/profiles/avatar-10.jpg"
                            alt="profile-img"
                          />
                        </div>
                        <div class="add-profile">
                          <h5>Upload a New Photo</h5>
                          <span>Profile-pic.jpg</span>
                        </div>
                      </div>
                      <div class="img-upload">
                        <label class="btn btn-primary">
                          Upload <input type="file" />
                        </label>
                        <a class="btn btn-remove">Remove</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Nom</label>
                          <input
                            type="text"
                            class="form-control"
                            disabled
                            [placeholder]="user.firstName"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Prénom(s)</label>
                          <input
                            type="text"
                            class="form-control"
                            disabled
                            [placeholder]="user.lastName"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Email</label>
                          <input
                            type="email"
                            class="form-control"
                            disabled
                            [placeholder]="user.email"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Telephone</label>
                          <input
                            type="text"
                            class="form-control"
                            disabled
                            [placeholder]="user.telephone"
                            
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Rôle</label>
                          <input
                            type="text"
                            class="form-control"
                            disabled
                            [placeholder]="user.role"
                            
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pass-group" id="passwordInput1">
                          <div class="input-block">
                            <label> Mot de Passe</label>
                            <input
                              type="password"
                              class="form-control pass-input"
                              value="12345678"
                              placeholder=""
                            />
                            <span
                              class="toggle-password feather-eye"
                            ></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block">
                          <label>Statut</label>
                          <p *ngIf="user.accountNonLocked" class="badge bg-success-light"> Actif</p>
                          <p *ngIf="!user.accountNonExpired" class="badge bg-ash-gray text-gray-light">Inactif</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-bs-dismiss="modal"
              class="btn btn-primary paid-cancel-btn me-2"
            >
              Cancel
            </button>
           
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal custom-modal fade" id="delete_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Delete Users</h3>
            <p>Are you sure want to delete?</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-primary paid-continue-btn"
                  >Delete</a
                >
              </div>
              <div class="col-6">
                <a
                  href="#"
                  data-bs-dismiss="modal"
                  class="btn btn-primary paid-cancel-btn"
                  >Cancel</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>