<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div class="col-xl-3 col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="page-header">
              <div class="content-page-header">
                <h5>Réglages</h5>
              </div>
            </div>

            <div class="widget settings-menu mb-0">
              <ul>
                <li class="nav-item">
                  <a href="settings.html" class="nav-link active">
                    <i class="fe fe-user"></i> <span>Parametre du compte</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="company-settings.html" class="nav-link">
                    <i class="fe fe-settings"></i> <span>Compagnie</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="invoice-settings.html" class="nav-link">
                    <i class="fe fe-file"></i> <span>Factures</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="template-invoice.html" class="nav-link">
                    <i class="fe fe-layers"></i> <span>Modele de facture</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="payment-settings.html" class="nav-link">
                    <i class="fe fe-credit-card"></i> <span>Payements</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-md-8">
        <div class="card">
          <div class="card-body w-100">
            <div class="content-page-header">
              <h5 class="setting-menu">Réglage du Compte</h5>
            </div>
            <div class="row">
              <div class="profile-picture">
                <div class="upload-profile me-2">
                  <div class="profile-img">
                    <img
                      id="blah"
                      class="avatar"
                      src="assets/img/profiles/avatar-10.jpg"
                      alt="profile-img"
                    />
                  </div>
                </div>
                <!--<div class="img-upload">
                <label class="btn btn-primary">
                  modifier <input type="file" />
                </label>
                <a class="btn btn-remove">supprimer</a>
                <p class="mt-1">minimum 152 * 152 formats JPG,PNG,SVG</p>
              </div>-->
              </div>
              <div class="col-lg-12">
                <div class="form-title">
                  <h5>Informations Générales</h5>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="input-block mb-3">
                  <label>Prenom(s)</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="userUpdate.firstName"
                    [placeholder]="
                      user.firstName || 'Veuillez entrer votre prenom'
                    "
                  />
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="input-block mb-3">
                  <label>Nom</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="userUpdate.lastName"
                    [placeholder]="user.lastName || 'Veuillez entrer votre nom'"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="input-block mb-3">
                  <label>Email</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="userUpdate.email"
                    [placeholder]="user.email || 'Veuiilez entrer votre email'"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="input-block mb-3">
                  <label>Telephone</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="userUpdate.telephone"
                    [placeholder]="
                      user.telephone ||
                      'Veuillez entrer votre numero de telephone'
                    "
                  />
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="input-block mb-0">
                  <label>Genre</label>
                  <select class="select">
                    <option>selectionner une option</option>
                    <option value="homme">Homme</option>
                    <option value="femme">Femme</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="input-block mb-3">
                  <label>Date de Naissance</label>
                  <div class="cal-icon cal-icon-info">
                    <input
                      type="text"
                      class="datetimepicker form-control"
                      placeholder="selectionner une date"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-title">
                  <h5>Sécurité</h5>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="input-block mb-3">
                  <label>Role</label>
                  <input
                    type="text"
                    class="form-control"
                    [disabled]="true"
                    [placeholder]="user.role"
                    disabled
                  />
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="input-block mb-3">
                  <label>Actif</label>
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    [placeholder]="user.accountNonLocked"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="input-block mb-3">
                <label>mot de passe</label>
                <input
                  type="password"
                  class="form-control"
                  disabled
                  [placeholder]="user.password"
                />
              </div>
            </div>

            <div class="col-lg-12">
              <div class="btn-path text-end">
                <a
                  href="javascript:void(0);"
                  class="btn btn-cancel bg-primary-light me-3"
                  >Annuler</a
                >
                <a class="btn btn-primary" onclick="updateProfile()"
                  >Enregistrer les changements</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
