<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul class="sidebar-vertical">
        <li class="menu-title"><span>Menu</span></li>
        <li class="submenu">
          <a routerLink="dashboard"
            ><i class="fe fe-home"></i> <span> Dashboard</span>
          </a>
        </li>
        <li class="menu-title"><span>Factures</span></li>
        <li>
          <a routerLink="factures"
            ><i class="fe fe-file"></i> <span>Factures</span></a
          >
         </li>
         <li>
          <a routerLink="images"
            ><i class="fe fe-file-text"></i> <span>Images</span></a
          >
        </li>
        <li class="menu-title"><span>Journaux</span></li>
        <li>
          <a routerLink="comptes"
            ><i class="fe fe-edit"></i> <span>Crédit/débit</span></a
          >
        </li>
        <li class="menu-title"> <span> Raports </span> </li>

        <li class="submenu">
          <a routerLink="rapports"
            ><i class="fe fe-box"></i><span>Raports </span>

            ></a
          >
        </li>

        <li class="menu-title"><span>Utilisateurs</span></li>
        <li>
          <a routerLink="listUsers"
            ><i class="fe fe-user"></i> <span>Utilisateurs</span></a
          >
        </li>

        <li class="menu-title"><span>Réglages</span></li>
        <li>
          <a routerLink="edit-profile"
            ><i class="fe fe-settings"></i> <span>Réglages</span></a
          >
        </li>
        <li>
          <a (click)="logout()"><i class="fe fe-power"></i> <span>Déconexion</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
