<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="content-page-header">
        <h5>Factures</h5>
        <div class="list-btn">
          <ul class="filter-list">
            <li>
              <a
                class="btn btn-filters w-auto popup-toggle"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Filter"
                ><span class="me-2"
                  ><img
                    src="assets/img/icons/filter-icon.svg"
                    alt="filter" /></span
                >Filtrer
              </a>
            </li>
            <li>
              <a
                class="btn-filters"
                href="javascript:void(0);"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Settings"
                ><span><i class="fe fe-settings"></i></span>
              </a>
            </li>
            <li>
              <a
                class="btn btn-primary"
                class="btn btn-primary"
                href="javascript:void(0);"
                data-bs-toggle="modal"
                data-bs-target="#add_user"
                ><i class="fa fa-plus-circle me-2" aria-hidden="true"></i
                >ajouter</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="filter_inputs" class="card filter-card">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3">
              <label>Name</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3">
              <label>Email</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3">
              <label>Phone</label>
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-info-light">
                <img src="assets/img/icons/receipt-item.svg" alt="invoice" />
              </span>
              <div class="dash-count">
                <div class="dash-title">Total Facture</div>
                <div class="dash-counts">
                  <p></p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                <span class="rounded-circle bg-light-gray">02</span>
              </p>
              <p class="inovice-trending text-success-light">
                02 <span class="ms-2"><i class="fe fe-trending-up"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-primary-light">
                <img
                  src="assets/img/icons/transaction-minus.svg"
                  alt="invoice"
                />
              </span>
              <div class="dash-count">
                <div class="dash-title">Outstanding</div>
                <div class="dash-counts">
                  <p>$325,215</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">03</span>
              </p>
              <p class="inovice-trending text-success-light">
                04 <span class="ms-2"><i class="fe fe-trending-up"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-warning-light">
                <img
                  src="assets/img/icons/archive-book.svg"
                  alt="archivebook"
                />
              </span>
              <div class="dash-count">
                <div class="dash-title">Total Overdue</div>
                <div class="dash-counts">
                  <p>$7825</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">01</span>
              </p>
              <p class="inovice-trending text-danger-light">
                03 <span class="ms-2"><i class="fe fe-trending-down"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-primary-light">
                <img
                  src="assets/img/icons/clipboard-close.svg"
                  alt="clipboard"
                />
              </span>
              <div class="dash-count">
                <div class="dash-title">Cancelled</div>
                <div class="dash-counts">
                  <p>100</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">04</span>
              </p>
              <p class="inovice-trending text-danger-light">
                05 <span class="ms-2"><i class="fe fe-trending-down"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-green-light">
                <img src="assets/img/icons/message-edit.svg" alt="message" />
              </span>
              <div class="dash-count">
                <div class="dash-title">Draft</div>
                <div class="dash-counts">
                  <p>$125,586</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">06</span>
              </p>
              <p class="inovice-trending text-danger-light">
                02 <span class="ms-2"><i class="fe fe-trending-down"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-danger-light">
                <img src="assets/img/icons/3d-rotate.svg" alt="invoice" />
              </span>
              <div class="dash-count">
                <div class="dash-title">Recurring</div>
                <div class="dash-counts">
                  <p>$86,892</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">03</span>
              </p>
              <p class="inovice-trending text-success-light">
                02 <span class="ms-2"><i class="fe fe-trending-up"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-stripped table-hover datatable">
                <thead class="thead-light">
                  <tr>
                    <th>
                      #
                    </th>
                    <th>Numero</th>
                    <th>Client</th>
                    <th>Tva</th>
                    <th>Payé</th>
                    <th>Mode de Payement</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <ng-container *ngFor="let item of factures ">

                    <tr>
                      <td>
                       #
                      </td>
                      <td>{{item.numero}} </td>
                      <td>N/A</td>
                      <td>{{item.tva}}</td>
                      <td>oui</td>
                      <td>N/A</td>
                      <td>{{item.totalttc}}</td>
                      <td>-</td>
                      <td><span class="badge bg-success-light">Payé</span></td>
  
                      <td class="text-end">
                        <div class="dropdown dropdown-action">
                          <a
                            href="#"
                            class="btn-action-icon"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            ><i class="fas fa-ellipsis-v"></i
                          ></a>
                          <div
                            class="dropdown-menu dropdown-menu-end customer-dropdown"
                          >
                            <a class="dropdown-item" 
                              href="javascript:void(0);"
                              data-bs-toggle="modal"
                              data-bs-target="#edit_user"
                              [attr.data-id]="item.id ? item.id : null"
                              ><i class="far fa-edit me-2"></i>modifer</a
                            >
                            <a 
                            class="dropdown-item" href="javascript:void(0);" 
                            data-bs-toggle="modal" 
                            data-bs-target="#view_invoice"
                            
                              ><i class="far fa-eye me-2"></i>voir</a
                            >
                            <a
                              class="dropdown-item"
                              href="javascript:void(0);"
                              data-bs-toggle="modal"
                              data-bs-target="#delete_modal"
                              [attr.data-id]="item.id"
                              (click)="setFactureIdToDelete(item.id)"
                              ><i class="far fa-trash-alt me-2"></i>supprimer
                            </a>
                        <!--    <a class="dropdown-item" 
                            href="javascript:void(0);"
                              ><i class="fe fe-send me-2"></i>Envoyé</a
                            >
                            <a class="dropdown-item" href="javascript:void(0);"
                              ><i class="fe fe-download me-2"></i>telecharger</a
                            >--> 
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>

                  
               
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal custom-modal modal-lg fade" id="add_user" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Ajouter une Facture</h4>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="factureForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <div class="form-groups-item">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Numéro</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="numero"
                          placeholder="Entez le Numéro de la facture"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>TVA</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="tva"
                          placeholder="Entez la TVA appliquée (%)"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>TOTAL HT</label>
                        <input
                          type="number"
                          class="form-control"
                          formControlName="totalht"
                          placeholder="Entez le  Montant Hors Taxe"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Total TVA</label>
                        <input
                          type="number"
                          class="form-control"
                          formControlName="totaltva"
                        
                          
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Total TTC</label>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="totalttc"
                          
                         
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block">
                        <label>Statut</label>
                        <select class="select">
                          <option>Selectionner un Statut</option>
                          <option >Actif</option>
                          <option>Archivé</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-back cancel-btn me-2"
          >
            Annuler
          </button>
          <button
            type="submit"
            data-bs-dismiss="modal"
            class="btn btn-primary paid-continue-btn"
          >
            Ajouter
          </button>
        </div>
      </form>
    </div>
  </div>
  
</div>
<div class="modal custom-modal modal-lg fade" id="edit_user" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-0 pb-0">
        <div class="form-header modal-header-title text-start mb-0">
          <h4 class="mb-0">Modification de Facture</h4>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form #f="ngForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <div class="form-groups-item">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Numéro</label>
                        <input
                          type="text"
                          class="form-control"
                          disabled
                          value=""
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>TVA</label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Last Name"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>TOTAL HT</label>
                        <input
                          type="number"
                          class="form-control"
                          placeholder="Entrer un montant "
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Total TVA</label>
                        <input
                          type="number"
                          class="form-control"
                          placeholder="Enter Email Address"
                        />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block mb-3">
                        <label>Total TTC </label>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Phone Number"
                          name="name"
                        />
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <div class="input-block">
                        <label>Statut</label>
                        <select class="select">
                          <option>Selectionner un Statut</option>
                          <option>Actif</option>
                          <option>Archivé</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-back cancel-btn me-2"
          >
            Annuler
          </button>
          <button
            type="submit"
            data-bs-dismiss="modal"
            class="btn btn-primary paid-continue-btn"
          >
            Ajouter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal custom-modal fade" id="delete_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Supprimer une Facture</h3>
          <p>êtes vous sûr de Supprimer?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a href="javascript:void(0);" class="btn btn-primary paid-continue-btn"(click)="deleteFacture()"
                >Supprimer</a
              >
            </div>
            <div class="col-6">
              <a
                href="#"
                data-bs-dismiss="modal"
                class="btn btn-primary paid-cancel-btn"
                >Annuler</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
