<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="content-page-header">
        <h5>Factures</h5>
        <div class="list-btn">
          <ul class="filter-list">
            <li>
              <a
                class="btn btn-filters w-auto popup-toggle"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Filter"
                ><span class="me-2"
                  ><img
                    src="assets/img/icons/filter-icon.svg"
                    alt="filter" /></span
                >Filtrer
              </a>
            </li>
            <li>
              <a
                class="btn-filters"
                href="javascript:void(0);"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Settings"
                ><span><i class="fe fe-settings"></i></span>
              </a>
            </li>
            <li>
              <a
                class="btn btn-primary"
                class="btn btn-primary"
                href="javascript:void(0);"
                data-bs-toggle="modal"
                data-bs-target="#add_user"
                ><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>ajouter</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="filter_inputs" class="card filter-card">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3">
              <label>Name</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3">
              <label>Email</label>
              <input type="text" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="input-block mb-3">
              <label>Phone</label>
              <input type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-info-light">
                <img src="assets/img/icons/receipt-item.svg" alt="invoice" />
              </span>
              <div class="dash-count">
                <div class="dash-title">Total Invoice</div>
                <div class="dash-counts">
                  <p>$298</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">02</span>
              </p>
              <p class="inovice-trending text-success-light">
                02 <span class="ms-2"><i class="fe fe-trending-up"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-primary-light">
                <img
                  src="assets/img/icons/transaction-minus.svg"
                  alt="invoice"
                />
              </span>
              <div class="dash-count">
                <div class="dash-title">Outstanding</div>
                <div class="dash-counts">
                  <p>$325,215</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">03</span>
              </p>
              <p class="inovice-trending text-success-light">
                04 <span class="ms-2"><i class="fe fe-trending-up"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-warning-light">
                <img
                  src="assets/img/icons/archive-book.svg"
                  alt="archivebook"
                />
              </span>
              <div class="dash-count">
                <div class="dash-title">Total Overdue</div>
                <div class="dash-counts">
                  <p>$7825</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">01</span>
              </p>
              <p class="inovice-trending text-danger-light">
                03 <span class="ms-2"><i class="fe fe-trending-down"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-primary-light">
                <img
                  src="assets/img/icons/clipboard-close.svg"
                  alt="clipboard"
                />
              </span>
              <div class="dash-count">
                <div class="dash-title">Cancelled</div>
                <div class="dash-counts">
                  <p>100</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">04</span>
              </p>
              <p class="inovice-trending text-danger-light">
                05 <span class="ms-2"><i class="fe fe-trending-down"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-green-light">
                <img src="assets/img/icons/message-edit.svg" alt="message" />
              </span>
              <div class="dash-count">
                <div class="dash-title">Draft</div>
                <div class="dash-counts">
                  <p>$125,586</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">06</span>
              </p>
              <p class="inovice-trending text-danger-light">
                02 <span class="ms-2"><i class="fe fe-trending-down"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-sm-6 col-12 d-flex">
        <div class="card inovices-card w-100">
          <div class="card-body">
            <div class="dash-widget-header">
              <span class="inovices-widget-icon bg-danger-light">
                <img src="assets/img/icons/3d-rotate.svg" alt="invoice" />
              </span>
              <div class="dash-count">
                <div class="dash-title">Recurring</div>
                <div class="dash-counts">
                  <p>$86,892</p>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <p class="inovices-all">
                No of Invoice
                <span class="rounded-circle bg-light-gray">03</span>
              </p>
              <p class="inovice-trending text-success-light">
                02 <span class="ms-2"><i class="fe fe-trending-up"></i></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card invoices-tabs-card">
      <div class="invoices-main-tabs">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="invoices-tabs">
              <ul>
                <li><a href="invoices.html" class="active">All</a></li>
                <li><a href="invoices-paid.html">Paid</a></li>
                <li><a href="invoices-overdue.html">Overdue</a></li>
                <li><a href="invoices-cancelled.html">Cancelled</a></li>
                <li><a href="invoices-recurring.html">Partially Paid</a></li>
                <li><a href="invoices-unpaid.html">Unpaid</a></li>
                <li><a href="invoices-refunded.html">Refunded</a></li>
                <li><a href="invoices-draft.html">Draft</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-stripped table-hover datatable">
                <thead class="thead-light">
                  <tr>
                    <th>
                      <label class="custom_check">
                        <input type="checkbox" name="invoice" />
                        <span class="checkmark"></span> </label
                      >Invoice ID
                    </th>
                    <th>Category</th>
                    <th>Created On</th>
                    <th>Invoice To</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Payment Mode</th>
                    <th>Balance</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="custom_check">
                        <input type="checkbox" name="invoice" />
                        <span class="checkmark"></span>
                      </label>
                      <a href="invoice-details.html" class="invoice-link"
                        >#4987</a
                      >
                    </td>
                    <td>Advertising</td>
                    <td>23 Mar 2023</td>
                    <td>
                      <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm me-2"
                          ><img
                            class="avatar-img rounded-circle"
                            src="assets/img/profiles/avatar-14.jpg"
                            alt="User Image"
                        /></a>
                        <a href="profile.html"
                          >John Smith <span>+1 843-443-3282</span></a
                        >
                      </h2>
                    </td>
                    <td>$1,54,220</td>
                    <td>$1,50,000</td>
                    <td>Cash</td>
                    <td>$0</td>
                    <td>-</td>
                    <td><span class="badge bg-success-light">Paid</span></td>
                    <td class="text-end">
                      <div class="dropdown dropdown-action">
                        <a
                          href="#"
                          class="btn-action-icon"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          ><i class="fas fa-ellipsis-v"></i
                        ></a>
                        <div
                          class="dropdown-menu dropdown-menu-end customer-dropdown"
                        >
                          <a class="dropdown-item" href="edit-invoice.html"
                            ><i class="far fa-edit me-2"></i>Edit</a
                          >
                          <a class="dropdown-item" href="invoice-details.html"
                            ><i class="far fa-eye me-2"></i>View</a
                          >
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            data-bs-toggle="modal"
                            data-bs-target="#view_modal"
                            ><i class="far fa-eye me-2"></i>View Delivery
                            Challans</a
                          >
                          <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            data-bs-toggle="modal"
                            data-bs-target="#delete_modal"
                            ><i class="far fa-trash-alt me-2"></i>Delete</a
                          >
                          <a class="dropdown-item" href=""
                            ><i class="fe fe-send me-2"></i>Send</a
                          >
                          <a class="dropdown-item" href=""
                            ><i class="fe fe-download me-2"></i>Download</a
                          >
                          <a class="dropdown-item" href="add-credit-notes.html"
                            ><i class="fe fe-file-text me-2"></i>Convert to
                            Sales Return</a
                          >
                          <a class="dropdown-item" href=""
                            ><i class="fe fe-copy me-2"></i>Clone as Invoice</a
                          >
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal custom-modal modal-lg fade" id="add_user" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0">
          <div class="form-header modal-header-title text-start mb-0">
            <h4 class="mb-0">Ajouter une Facure</h4>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form action="#">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <div class="form-groups-item">
                    <h5 class="form-title">Profile Picture</h5>
                    <div class="profile-picture">
                      <div class="upload-profile">
                        <div class="profile-img">
                          <img
                            id="blah"
                            class="avatar"
                            src="assets/img/profiles/avatar-10.jpg"
                            alt="profile-img"
                          />
                        </div>
                        <div class="add-profile">
                          <h5>Upload a New Photo</h5>
                          <span>Profile-pic.jpg</span>
                        </div>
                      </div>
                      <div class="img-upload">
                        <a class="btn btn-primary me-2">Upload</a>
                        <a class="btn btn-remove">Remove</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>First Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter First Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Last Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Last Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>User Name</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter User Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Email</label>
                          <input
                            type="email"
                            class="form-control"
                            placeholder="Enter Email Address"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Phone Number</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Enter Phone Number"
                            name="name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Role</label>
                          <select class="select">
                            <option>Select Role</option>
                            <option>Role 1</option>
                            <option>Role 2</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pass-group" id="3">
                          <div class="input-block">
                            <label>Password</label>
                            <input
                              type="password"
                              class="form-control pass-input"
                              placeholder=""
                            />
                            <span
                              class="toggle-password feather-eye"
                            ></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pass-group" id="passwordInput2">
                          <div class="input-block">
                            <label>Confirm Password</label>
                            <input
                              type="password"
                              class="form-control pass-input"
                              placeholder=""
                            />
                            <span
                              class="toggle-password feather-eye"
                            ></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block">
                          <label>Status</label>
                          <select class="select">
                            <option>Select Status</option>
                            <option>Active</option>
                            <option>Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-bs-dismiss="modal"
              class="btn btn-back cancel-btn me-2"
            >
              Cancel
            </button>
            <button
              type="submit"
              data-bs-dismiss="modal"
              class="btn btn-primary paid-continue-btn"
            >
              Add User
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div
    class="modal custom-modal modal-lg fade"
    id="edit_user"
    role="dialog"
  >
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-header border-0 pb-0">
          <div class="form-header modal-header-title text-start mb-0">
            <h4 class="mb-0">Modification de Facture</h4>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form action="#">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <div class="form-groups-item">
                    <h5 class="form-title">Profile Picture</h5>
                    <div class="profile-picture">
                      <div class="upload-profile">
                        <div class="profile-img">
                          <img
                            id="blah2"
                            class="avatar"
                            src="assets/img/profiles/avatar-10.jpg"
                            alt="profile-img"
                          />
                        </div>
                        <div class="add-profile">
                          <h5>Upload a New Photo</h5>
                          <span>Profile-pic.jpg</span>
                        </div>
                      </div>
                      <div class="img-upload">
                        <label class="btn btn-primary">
                          Upload <input type="file" />
                        </label>
                        <a class="btn btn-remove">Remove</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>First Name</label>
                          <input
                            type="text"
                            value="John"
                            class="form-control"
                            placeholder="Enter First Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Last Name</label>
                          <input
                            type="text"
                            class="form-control"
                            value="Smith"
                            placeholder="Enter Last Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>User Name</label>
                          <input
                            type="text"
                            class="form-control"
                            value="John Smith"
                            placeholder="Enter User Name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Email</label>
                          <input
                            type="email"
                            class="form-control"
                            value="john@example.com"
                            placeholder="Enter Email Address"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Phone Number</label>
                          <input
                            type="text"
                            class="form-control"
                            value="+1 989-438-3131"
                            placeholder="Enter Phone Number"
                            name="name"
                          />
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block mb-3">
                          <label>Role</label>
                          <select class="select">
                            <option>Select Role</option>
                            <option selected="">Role 1</option>
                            <option>Role 2</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pass-group" id="passwordInput1">
                          <div class="input-block">
                            <label>Password</label>
                            <input
                              type="password"
                              class="form-control pass-input"
                              value="12345678"
                              placeholder=""
                            />
                            <span
                              class="toggle-password feather-eye"
                            ></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pass-group" id="passwordInput4">
                          <div class="input-block">
                            <label>Confirm Password</label>
                            <input
                              type="password"
                              class="form-control pass-input"
                              value="12345678"
                              placeholder=""
                            />
                            <span
                              class="toggle-password feather-eye"
                            ></span>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="input-block">
                          <label>Status</label>
                          <select class="select">
                            <option>Select Status</option>
                            <option selected="">Active</option>
                            <option>Inactive</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              data-bs-dismiss="modal"
              class="btn btn-primary paid-cancel-btn me-2"
            >
              Cancel
            </button>
            <button
              type="submit"
              data-bs-dismiss="modal"
              class="btn btn-primary paid-continue-btn"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal custom-modal fade" id="delete_modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-header">
            <h3>Supprimer une Facture</h3>
            <p>êtes vous sûr de Supprimer?</p>
          </div>
          <div class="modal-btn delete-action">
            <div class="row">
              <div class="col-6">
                <a href="#" class="btn btn-primary paid-continue-btn"
                  >Supprimer</a
                >
              </div>
              <div class="col-6">
                <a
                  href="#"
                  data-bs-dismiss="modal"
                  class="btn btn-primary paid-cancel-btn"
                  >Annuler</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>