<div class="header header-one">
    <a
      routerLink="dashboard"
      class="d-inline-flex d-sm-inline-flex align-items-center d-md-inline-flex d-lg-none align-items-center device-logo"
    >
      <img src="assets/img/logo.png" class="img-fluid logo2" alt="Logo" />
    </a>
    <div
      class="main-logo d-inline float-start d-lg-flex align-items-center d-none d-sm-none d-md-none"
    >
      <div class="logo-white">
        <a href="index.html">
          <img
            src="assets/img/logo-full-white.png"
            class="img-fluid logo-blue"
            alt="Logo"
          />
        </a>
        <a href="index.html">
          <img
            src="assets/img/logo-small-white.png"
            class="img-fluid logo-small"
            alt="Logo"
          />
        </a>
      </div>
      <div class="logo-color">
        <a href="index.html">
          <img
            src="assets/img/logo.png"
            class="img-fluid logo-blue"
            alt="Logo"
          />
        </a>
        <a href="index.html">
          <img
            src="assets/img/logo-small.png"
            class="img-fluid logo-small"
            alt="Logo"
          />
        </a>
      </div>
    </div>

    <a href="javascript:void(0);" id="toggle_btn">
      <span class="toggle-bars">
        <span class="bar-icons"></span>
        <span class="bar-icons"></span>
        <span class="bar-icons"></span>
        <span class="bar-icons"></span>
      </span>
    </a>

    <div class="top-nav-search">
      <form>
        <input type="text" class="form-control" placeholder="Search here" />
        <button class="btn" type="submit">
          <img src="assets/img/icons/search.svg" alt="img" />
        </button>
      </form>
    </div>

    <a class="mobile_btn" id="mobile_btn">
      <i class="fas fa-bars"></i>
    </a>

    <ul class="nav nav-tabs user-menu">
      <li class="nav-item dropdown has-arrow flag-nav">
        <a
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
        >
          <img src="assets/img/flags/us1.png" alt="flag" /><span
            >English</span
          >
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="javascript:void(0);" class="dropdown-item">
            <img src="assets/img/flags/us.png" alt="flag" /><span
              >English</span
            >
          </a>
          <a href="javascript:void(0);" class="dropdown-item">
            <img src="assets/img/flags/fr.png" alt="flag" /><span
              >French</span
            >
          </a>
          <a href="javascript:void(0);" class="dropdown-item">
            <img src="assets/img/flags/es.png" alt="flag" /><span
              >Spanish</span
            >
          </a>
          <a href="javascript:void(0);" class="dropdown-item">
            <img src="assets/img/flags/de.png" alt="flag" /><span
              >German</span
            >
          </a>
        </div>
      </li>

      <li class="nav-item has-arrow dropdown-heads">
        <a routerLink="javascript:void(0)" class="toggle-switch">
          <i class="fe fe-moon"></i>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a
          href="javascript:void(0)"
          class="user-link nav-link"
          data-bs-toggle="dropdown"
        >
          <span class="user-img">
            <img
              src="assets/img/profiles/avatar-07.jpg"
              alt="img"
              class="profilesidebar"
            />
            <span class="animate-circle"></span>
          </span>
          <span class="user-content">
            <span class="user-details">{{user.role}}</span>
            <span class="user-name">{{user.firstName}} {{user.lastName}} </span>
          </span>
        </a>
        <div class="dropdown-menu menu-drop-user">
          <div class="profilemenu">
            <div class="subscription-menu">
              <ul>
                <li>
                  <a class="dropdown-item" routerLink="/home/profile">Profil</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/home/edit-profile">Réglages</a>
                </li>
              </ul>
            </div>
            <div class="subscription-logout">
              <ul>
                <li class="pb-0">
                  <a class="dropdown-item" (click)="logout()">Déconnexion</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>